<div class="mb-3">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="checkboxExample">
        <label class="form-check-label" for="checkboxExample">
            Checkbox label text
        </label>
    </div>
</div>

<!-- Multiple checkboxes example -->
<div class="mb-3">
    <label class="form-label">Checkbox Group</label>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="checkbox1" name="checkboxGroup">
        <label class="form-check-label" for="checkbox1">
            Option 1
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="checkbox2" name="checkboxGroup">
        <label class="form-check-label" for="checkbox2">
            Option 2
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="checkbox3" name="checkboxGroup">
        <label class="form-check-label" for="checkbox3">
            Option 3
        </label>
    </div>
</div>

