<div class="mb-3">
    <label class="form-label">Choose an option</label>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="radioExample" id="radio1" value="option1" checked>
        <label class="form-check-label" for="radio1">
            Option 1
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="radioExample" id="radio2" value="option2">
        <label class="form-check-label" for="radio2">
            Option 2
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="radioExample" id="radio3" value="option3">
        <label class="form-check-label" for="radio3">
            Option 3
        </label>
    </div>
</div>

